@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    height: 100svh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    background-color: gainsboro;
}

/* Sidebar */

.sidebar {
    padding: 1.25rem;
    padding-right: 4rem;
    background-color: rgb(88, 193, 253);
    color:#ffffff;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 2.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.sidebar li {
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar a,
.sidebar h1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 1rem;
}

.sidebar a > img {
    padding: 10px;
}

/* Header */

header {
    background-color: #ffffff;
    height: 150px;
}

/* Sidebar */

main {
    background-color: rgb(230, 230, 230);
}